#nav {
    margin-top: 60px;
    width: 300px;
    text-align: right;
    float: left;
}

#nav .options {
    margin-top: 50px;
}

#nav .options p{
    font-family: sans-serif;
}

#results {
    margin-top: 30px;
    margin-left: 400px;
    width: 800px;
}

#result_img{
    border-radius: 8px;
}

#container {
    background: white;
    border-radius: 8px;
    padding-bottom: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    margin: 15px;
}

#container p {
    margin-left: 10px;
    font-family: sans-serif;
}


.searchbar input[type="text"] {
    float: left;
    margin-left: 200px;
    margin-top: 60px;
    margin-bottom: 40px;
    width: 600px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 45px;
    padding-left: 20px;
    border: 1px solid #302e2e;
    border-radius: 10px;
    box-sizing: border-box;
    
    background-image:url('search_icon.png');
    background-repeat: no-repeat;
    background-position: 555px center;
    background-size: 25px;
    outline: 0;
}

.searchbar input[type="text"]:focus {
    outline: none;